.container {
  position: relative;
  min-height: 103vh;
  padding: 4rem 2rem 0;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.board {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.girlWrap {
  position: absolute;
  left: 17;
  bottom: 0;
  width: clamp(660px, 50vw, 1200px); 
  z-index: 1;
  pointer-events: none;
}

.girlImg {
  display: block;
  width: 100%;
  height: auto;
  transform-origin: bottom left;
  object-position: left bottom;
}

.titleWrapper {
  z-index: 2;
  margin-top: 5rem;
  max-width: 500px;
  text-align: left;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1.5em;
  line-height: 1;
  letter-spacing: 2px;

  font-family: anton;
  font-weight: 800;
  font-size: 3.5rem;
  text-transform: uppercase;

  .highlight {
    position: absolute;
    left: 50%;
    bottom: -0.42em;
    transform: translateX(-50%) rotate(-10deg);
    transform-origin: center;

    display: inline-block;
    padding: 0.30em 0.75em;
    border-radius: 999px;

    background-color: #ff0078;
    color: #fff;

    font-weight: 700;
    font-size: 0.8em;
    margin: 0;
    white-space: nowrap;
  }
}

.description {
  margin-top: 5rem;
  text-align: center;
  line-height: 1.6;

  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #fff;
}

.ctaWrapper {
  margin-top: -1rem;
  display: flex;
  justify-content: center;

  button {
    width: 70%;
    margin-top: 4.5rem;
    padding: 1.1rem 1.5rem;
    font-weight: 900;
    font-size: 2rem;

    img { width: 10%; }
  }
}
