.heroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
    z-index: 0;
  }
.personnageContainer {
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 80%;
    left: 10%;
}
.personnage{
  position: relative;
  top: 10%;
//   width: 80%;
  z-index: 1;
}

.enveloppeContainer {
    position: absolute;
    z-index: 5;
    top: 20%;
    left: 70%;
    width: 20%;
}
.textContainer{
    position: absolute;
    z-index: 3;
    top: 5%;
    left: 20%;
    width: 60%;
    text-align: center;
}
.title{
    text-align: center;
    margin-top: 9%;
    opacity: 0;
    transform: scale(0.5);
    // position: relative;
    z-index: 10;
}
.slogan{
    text-align: center;
    margin-top: 2%;
    font-family: 'Anton', sans-serif;
    font-size: 7em;
    z-index: 13;
    // position: relative;
    // background-color: aqua;
    transform: scale(0.5);
}
.helloContainer{
    position: absolute;
    width: 10%;
    top: 5%;
    right: 15%;
    z-index: 5;
}
.planeteContainer{
    position: absolute;
    width: 10%;
    top: 5%;
    right: 7%;
    z-index: 5;
}
.pappillonRoseContainer{
    position: absolute;
    width: 5%;
    top: 45%;
    left: 35%;
    z-index: 5;
}
.waterSplashRightContainer{
    position: absolute;
    width: 40%;
    top: 28%;
    right: 7%;
    transform: scale(1) rotate(10deg);
    z-index: 1;
}

.waterSplashLeftContainer {
    position: absolute;
    width: 40%;
    top: 28%;
    left: 7%;
    transform: scale(-1, 1) rotate(-10deg);
    z-index: 1;
  }
.note1Container{
    position: absolute;
    width: 2%;
}
.note2Container{
    position: absolute;
    width: 2%;
}
.note3Container{
    position: absolute;
    width: 2%;
}
.note4Container{
    position: absolute;
    width: 2%;
    z-index: 1;
}
.noteArcsContainer {
    position: absolute; // This is the container the notes are placed within
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 2;
    // background-color: aqua;
  }
  
  .left-note, .right-note {
    position: absolute;
    transform: translate(-50%, -50%);
    // background-color: aqua;
    z-index: 2;
  }
.bgImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: pulse 4s ease-in-out infinite;
    }
}
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.4;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.4;
    }
  }
.blueFlowerContainer{
    position: absolute;
    width: 15%;
    bottom: -5%;
    left: 5%;
    z-index: 15;
    // background-color: turquoise;
}
.surfeuseContainer{
  position: absolute;
    width: 10%;
    top: 38%;
    right: 25%;
    transform: scale(1) rotate(0deg);
    z-index: 6;
}