* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #465c96;
  width: 100%;
  height: 100vh;
  position: relative;
}

.coffeeBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.coffee {
  height: 20px;
  z-index: 99;
  position: relative;
  margin: 0 auto -28px;
  width: 233px;
  border: 1px solid #f00;
}
.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
  justify-content: center;
}

/* .vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animSmoke 5s linear infinite;
  opacity: 0;
  filter: blur(10px);
  animation-delay: calc(var(--v) * -0.5s);
} */

@keyframes animSmoke {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-150px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}
