// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

// .artSection {
//     position: relative;
//     width: 100%;
//     height: 104vh;
//     overflow: hidden;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//   }

// .artImageWrapper {
//   // position: relative;
//   width: 40%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // border: 1px solid red;
// }
// .artImageWrapper img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   display: block;
// }
// .textWrapper{
//   width: 50%;
//   height: 100%;
//   padding: 2em 0em;
// }

// .textWrapper h1{
//   font-family: Bebas Neue;
//   font-weight: 900;
//   letter-spacing: 3px;
//   font-size: 5em;
//   line-height: 1;
// }
// .redTitle{
//   color: #ff4c4c;
// }
// .textWrapper h3{
//   font-family: 'Inter', sans-serif;
//   font-weight: 800;
//   font-size: 1.4em;
//   margin: 3% 0em;
// }
// .textWrapper p{
//   font-family: 'Inter', sans-serif;
//   font-size: 1.2em;
//   margin: 2% 0;
// }
// .textWrapper li{
//   font-family: 'Inter', sans-serif;
//   font-size: 1.2em;
//   list-style:disc ;
//   margin-left: 5%;
// }
.magiCwritingContainer {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 30vw;
  max-width: 600px;
  aspect-ratio: 3 / 1;
  z-index: 10;
}

.duhImage {
  position: absolute;
  bottom: 50%;
  width: 30%;
  left: -300px;
  height: auto;
  display: block;
}

.pencilContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 20;
}
  
.paragraph {
  p {
    margin-bottom: 1rem;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
    li {
      margin-bottom: 1rem;
    }
  }
}