.path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  // animation: dash 2s linear alternate infinite;
  animation: dash 2s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}