.videoProductionSection{
    width: 100%;
    height: auto;
}
.videoProductionSection p {
    margin-bottom: 2%;
}
.videoProductionSection li {
    margin-left: 3%;
    list-style-type: disc;
    margin-bottom: 2%;
}