.ExperiencesSection .btn-cta {
    padding: 0.2em 0em ;
    width: 50%;
}
.ExperiencesSection h1{
    left: -5%;
    text-shadow: 0px 0px 9px rgb(136, 136, 136);
}
.ExperiencesSection .btn-cta img{
    width: 7%;
}
.buttonContainer{
    width: 20%;
    font-size: 1.4em;
    font-weight: 600;
}
.buttonContainer img{
width: 10%;
}
.buttonContainer button{
padding: .3em 0;
}
.pinkBg{
    background-color: #ff0062;
    padding: .2em 1em;
    line-height: 2em;
    border-radius: 30px;
}