.coffeeBlock {
  width: 20px;
}

.coffee {
  height: 20px;
  z-index: 99;
  position: relative;
  margin: 0 auto;
  width: 20px;
}
.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 5px;
  justify-content: center;
}

/* .vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animSmoke 5s linear infinite;
  opacity: 0;
  filter: blur(10px);
} */

@keyframes animSmoke {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    transform: translateY(-150px) scaleX(3);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}
