.screen7 {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 0, 111);
  border-bottom: 15px solid rgb(0, 0, 0);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: start;
  font-family: Anton;
  font-size: 5em;
}

.creatureContainer {
  position: absolute;
  width: 15%;
  bottom: 0;
  right: 0;
  pointer-events: auto;
  display: flex;
  justify-content: flex-end;
}

.shadow {
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 80px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: scale(1);
  animation: shadowBounce 6s ease-in-out infinite;
}
.spark {
  position: absolute;
  right: 12%;
  bottom: 80px;
  font-size: 2.5rem;
  pointer-events: none;
  color: #fff700;
  filter: drop-shadow(0 0 5px #fff700);
  display: none;
}


@keyframes shadowBounce {
  0%, 100% {
    transform: scale(1);
    opacity: 0.4;
  }
  20% {
    transform: scale(0.6);
    opacity: 0.2;
  }
  40% {
    transform: scale(1);
    opacity: 0.4;
  }
}
