.distributionAndRepurposingSection{
    width: 100%;
    height: 130vh;
}
.distributionAndRepurposingSection p{
    margin-bottom: 2%;
}
.distributionAndRepurposingSection li{
    list-style-type: disc;
    margin-left: 3%;
    margin-bottom: 2%;
}